<!DOCTYPE html>
<html lang="en">
<head>
	</header>><% include ./partials/_header.ejs%>
</head>
<body>
	<p>SHORTURL : <%=shortURL%></p>
	<li><%=fullURL%></li>
	<form action="/urls/<%=shortURL%>/edit" method="POST">
    <label for="name">NEW URL</label>
    <input id="name" type="text" name="newurl">

    <button type="submit">Update</button>
</form>    
</body>
</html>
